
.ui.card .content img, .ui.cards>.card .content img {
	margin-bottom: 16px;
	height: 350px;
	width: auto;
}
.button, input, optgroup, select, textarea{

	font-size:16px;
}
body{
	font-family:"MonoSpec-medium";
}

.fByJds{
	font-size:16px;

}