
.ui.card .content img, .ui.cards>.card .content img {
	margin-bottom: 16px;
	height: 350px;
	width: auto;
}

.MuiGrid-spacing-xs-6 > .MuiGrid-item{
    padding: 24px;
    border-radius: 10px;
    border-width: medium;
    border: 1px solid #FD6363
}
.fByJds{
	font-size:16px;

}

.img{
	border-radius: 10px;
    border-width: medium;
	border: 3px solid #FD6363
}

.wUQFN{
	background-color: rgb(253, 99, 99);
    color: white;
    font-size: 15px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
	font-family:"MonoSpec-medium";
}

.bWUhxa{

	background-color: rgb(253, 99, 99);
    color: white;
    font-size: 15px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
	font-family:"MonoSpec-medium";
}